Flask==3.1.2
Flask-SocketIO==5.5.1
Flask-Cors==6.0.1

gunicorn==23.0.0

paho-mqtt==2.1.0
python-dotenv==1.1.1

opencv-python-headless==4.12.0.88
numpy==2.2.6
Pillow==11.3.0
pandas==2.3.2

python-socketio==5.13.0
python-engineio==4.12.2
simple-websocket==1.1.0

requests==2.32.5